* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 8fr 0.5fr;
  grid-template-areas: 
    'titulo'
    'conteudo'
    'rodape'
  ;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: titulo;
  background-color: #F5B3BA;
}

h1 {
  font-size: 4em;
  color: #525252;
}

.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: conteudo;
  background: linear-gradient(100deg, #D4FFDD 0%, #B1F4C0 100%);
}

.calculadora {
  width: 50vw;
  height: 50vh;
  background-color: #A85962;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: conteudo;
}

/* .buttons {
  margin-top: 50px;
} */

#timer {
  display: flex;
}

#timer > p {
  font-size: 4rem;
  color: #525252;
  margin: 0px 5px 0px 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: rodape;
  /* background-color: blue; */
}

/* 
.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 7.5fr 0.5fr;
  grid-template-areas: 
    'titulo'
    'conteudo'
    'rodape'
  ;
}

h1 {
  font-size: 4em;
  grid-area: titulo;
}

footer {
  grid-area: rodape;
}
*/

/* ------------------------------------------------------------------------------------------------------------------------------- */

/* .container {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
background-image: url('https://images.unsplash.com/photo-1514021704597-5fa077fbd6d1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.container2 {
width: 750px;
height: 750px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
background-color: rgba(126, 168, 254, 0.8);
border-radius: 50%;
}

.buttons {
display: flex;
}

#start {
width: 150px;
height: 50px;
margin: 20px;
border-radius: 20px;
background-color: aquamarine;
}
#start:hover {
transition: 0.5s;
background-color: rgb(108, 204, 237);
}

#reset {
width: 150px;
height: 50px;
margin: 20px;
border-radius: 20px;
background-color: rgb(255, 66, 66);
}
#reset:hover {
transition: 0.5s;
background-color: rgb(210, 104, 245);
}

#stop {
width: 150px;
height: 50px;
margin: 20px;
border-radius: 20px;
background-color: rgb(245, 228, 154);
}
#stop:hover {
transition: 0.5s;
background-color: rgb(255, 150, 112);
}

.cronometro {
color: black;

}

p a {
font-size: 8rem;
} */